#include <cs50.h>
#include <ctype.h>
#include <stdio.h>
#include <string.h>

// This integer represents the points per letter in scrabble.
int points_per_letter[26] = {1, 3, 3, 2, 1, 4, 2, 4, 1, 8, 5, 1, 3, 1, 1, 3, 10, 1, 1, 1, 1, 4, 4, 8, 4, 10};
// This declares the function called points
int points(string word);

int main(void)
{
    // Asks the Player 1 and 2 to input a word.
    string word1 = get_string("Player 1: ");
    string word2 = get_string("Player 2: ");
    // Calculates the score for both players.
    int score1 = points(word1);
    int score2 = points(word2);
    // Determines which player's score is higher and prints a message for winner.
    if (score1 > score2)
    {
        printf("Player 1 wins!\n");
    }
    else if (score1 < score2)
    {
        printf("Player 2 wins!\n");
    }
    else
    {
        printf("Tie!\n");
    }
    printf("%d,%d", score1, score2);
}
// This function calculates the points per player.
int points(string word)
{
    // This sets their scores at 0.
    int score = 0;
    int length = strlen(word);
    int n = 0;
    // This calculates the actual score of the word
    while (length > n)
    {
        // If a letter is uppercase, it uses this if statement.
        if (isupper(word[n]))
        {
            score += points_per_letter[word[n] - 'A'];
        }
        // If a letter is lowercase, it uses this else if statement.
        else if (islower(word[n]))
        {
            score += points_per_letter[word[n] - 'a'];
        }
        // If a character is not a letter, it will recieve no points
        n++;
    }
    return score;
}
